html,
body,
main {
  height: 100%;
}

body > main {
  height: auto;
  min-height: 100%;
}

.champion-container md-card-avatar {
  width: 60px;
  height: 60px;
}

.polka {
  background-color: #fff;
  background-image: radial-gradient(red 6%, transparent 16%), radial-gradient(white 15%, transparent 16%);
  background-size: 35px 35px;
  background-position: 0 0, 30px 30px;
}

.green {
  background-color: #bcea8d;
}

.yellow {
  background-color: #f5ed8a;
}

.graph-container {
  min-width: 650px;
}
